.cs{
    background-color: #282c34;
    color: white;
    padding: 40px;
    font-family: Arial;
    text-align: left;
    background-image: linear-gradient(to right, rgb(245, 0, 0) , rgba(255, 160, 17, 0.555));
  }